.navbar-brand {
    background-color: teal;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
}

.navbar, .navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    border-top: 0px;
    padding-top: 0px;
    margin: 0;
    padding: 0;
}

#bananas {
    background: url("../images/bananas.png");
}

#aboutMe {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

#footer {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
}

#Copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    top: 15px;
}

/* portfolio page */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

.portfolio {
    width: 25%;
    padding: 20px;
    position: relative;
    left: 60px;
}

/* END PORTFOLIO */

/* .bg-light {
    max-width: 960px;
    width: 1000%;
} */

.potato1 {
    border-right: 1px solid #cccccc;
    padding-right: 10px;
    text-decoration : none;
}

.potato2 {
    border-right: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration : none;
}

.potato3 {
    padding-left: 10px;
    text-decoration : none;
}

.nav-link {
    float: left;
}

.navbar-nav {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-nav li {
    float: right;
}

.nounderline {
    text-decoration: none !important
  }

  #aboutMeImg {
   width: 30%; 
   float: left; 
   padding-top: 0px; 
   padding-right: 12px; 
   padding-bottom: 12px; 
   padding-left: 0px;
   border: 10px color black;
  }
/* 
  @media only screen and (max-width: 600px) {
    .nav-link1, .nav-link2, .nav-link3 {
       
    }
} */

/* MOBILE VERSIONS */

@media only screen and (max-width: 640px) {
    .navbar-brand, .nav-link {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        
    }
    
    #aboutMeImg {
        width: 100%;
    }

    .navbar-nav {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar-nav li {
        width: 50%;
    }

    .nav-link {
        float: none;
        width: 100%;
    }

  }
  
  @media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 980px) {
    [class*="col-"] {
        width: 100%;
    }
  }